<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowGoodsClServlet</servlet-name>
    <servlet-class>com.sp.controller.ShowGoodsClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShoppingClServlet</servlet-name>
    <servlet-class>com.sp.controller.ShoppingClServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ComShopping</servlet-name>
    <servlet-class>com.sp.controller.ComShopping</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.sp.controller.UserLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsOrderCl</servlet-name>
    <servlet-class>com.sp.controller.GoodsOrderCl</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowOrderDetail</servlet-name>
    <servlet-class>com.sp.controller.ShowOrderDetail</servlet-class>
  </servlet>






  <servlet-mapping>
    <servlet-name>ShowGoodsClServlet</servlet-name>
    <url-pattern>/ShowGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingClServlet</servlet-name>
    <url-pattern>/ShoppingClServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ComShopping</servlet-name>
    <url-pattern>/ComShopping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsOrderCl</servlet-name>
    <url-pattern>/GoodsOrderCl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrderDetail</servlet-name>
    <url-pattern>/ShowOrderDetail</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
